$app-sizes: (
        large: 1.2rem,
        medium: 1rem,
        small: 0.6rem,
        header-height: 12rem,
        font-size-l: 3rem,
        font-size-m: 2.5rem,
        font-size-s: 2rem,
);

$primary-color: #002d62;
$secondary-color: #0094ff;
$highlight-color: #ffe400;

$background-color__light: #fff;
$background-color: #d2d2d2;
$background-color__dark: #4d4d4d;
$background-color__darkest: #000;
